repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.14
    hooks:
      - id: ruff-format
        args:
          - --preview
        files: ^(tests/|src/).*$
      - id: ruff
        name: ruff-djangoheads
        args:
          - --preview
          - --fix
          - --unsafe-fixes
        files: ^src/.*$
      - id: ruff
        name: ruff-tests
        args:
          - --preview
          - --fix
          - --unsafe-fixes
          - --extend-ignore
          - ANN
          - --extend-ignore
          - D
        files: ^tests/.*$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: debug-statements
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          - scan > .secrets.baseline
