asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
build==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
cachecontrol[filecache]==0.13.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
cfgv==3.3.1 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "win32" or os_name == "nt")
coverage[toml]==7.2.7 ; python_version >= "3.11" and python_version < "4.0"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
cryptography==42.0.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
distlib==0.3.6 ; python_version >= "3.11" and python_version < "4.0"
django==4.2.2 ; python_version >= "3.11" and python_version < "4.0"
djangoheads==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
dulwich==0.21.7 ; python_version >= "3.11" and python_version < "4.0"
dynaconf==3.1.12 ; python_version >= "3.11" and python_version < "4.0"
fastjsonschema==2.19.1 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.12.2 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "4.0"
identify==2.5.24 ; python_version >= "3.11" and python_version < "4.0"
idna==3.6 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==7.0.1 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
installer==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
jaraco-classes==3.3.0 ; python_version >= "3.11" and python_version < "4.0"
jeepney==0.8.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
keyring==24.3.0 ; python_version >= "3.11" and python_version < "4.0"
more-itertools==10.2.0 ; python_version >= "3.11" and python_version < "4.0"
msgpack==1.0.7 ; python_version >= "3.11" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0"
pkginfo==1.9.6 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==3.8.0 ; python_version >= "3.11" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
poetry-core==1.8.1 ; python_version >= "3.11" and python_version < "4.0"
poetry-plugin-export==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
poetry==1.7.1 ; python_version >= "3.11" and python_version < "4.0"
pre-commit==3.3.3 ; python_version >= "3.11" and python_version < "4.0"
psycopg2==2.9.6 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform == "darwin" or sys_platform == "linux") and (sys_platform == "darwin" or platform_python_implementation != "PyPy")
pyproject-hooks==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-cov==4.1.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-django==4.7.0 ; python_version >= "3.11" and python_version < "4.0"
pytest-sugar==0.9.7 ; python_version >= "3.11" and python_version < "4.0"
pytest-timeout==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
pytest==7.4.0 ; python_version >= "3.11" and python_version < "4.0"
pywin32-ctypes==0.2.2 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0 ; python_version >= "3.11" and python_version < "4.0"
rapidfuzz==3.6.1 ; python_version >= "3.11" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "linux"
sentry-sdk==1.26.0 ; python_version >= "3.11" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.11" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
tomlkit==0.12.3 ; python_version >= "3.11" and python_version < "4.0"
trove-classifiers==2024.1.8 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
virtualenv==20.23.1 ; python_version >= "3.11" and python_version < "4.0"
whitenoise==6.5.0 ; python_version >= "3.11" and python_version < "4.0"
xattr==0.10.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "darwin"
zipp==3.17.0 ; python_version >= "3.11" and python_version < "3.12"
