asgiref==3.7.2 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.11" and python_version < "4.0"
django==4.2.9 ; python_version >= "3.11" and python_version < "4.0"
djangoheads==1.2.1 ; python_version >= "3.11" and python_version < "4.0"
dynaconf==3.2.4 ; python_version >= "3.11" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.11" and python_version < "4.0"
psycopg2==2.9.9 ; python_version >= "3.11" and python_version < "4.0"
sentry-sdk==1.39.2 ; python_version >= "3.11" and python_version < "4.0"
setuptools==69.0.3 ; python_version >= "3.11" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2023.4 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
urllib3==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
whitenoise==6.6.0 ; python_version >= "3.11" and python_version < "4.0"
